In [1]:
class Employee:
    def __init__(self,name,salary,department):
        self.name=name
        self.salary=salary
        self.department=department
    def update_salary(self, new_salary):
        self.salary=new_salary
    def __str__(self):
        return f"name:{self.name},salary:{self.salary},department:{self.department}"

class EmoloyeeMangmentsystem:
    def __init__(self):
        self.employees=[]
    def add_employee(self,name,salary,department):
        employee=Employee(Fouad, 3000, Manager)
        self.employees.append(employee)
    def display_employees(self):

print(Employee)

IndentationError: expected an indented block after function definition on line 17 (3183593107.py, line 19)

In [ ]:
class Employee:
   def __init__(self, name, salary, department):
       self.name = name
       self.salary = salary
       self.department = department
   def __str__(self):
       return f"Name: {self.name}, Salary: {self.salary}, Department: {self.department}"

class Company:
   def __init__(self):
       self.employees = []
   def add_employee(self, name, salary, department):
       employee = Employee(name, salary, department)
       self.employees.append(employee)
       print(f"Employee {name} added successfully.")

In [3]:
class Employee:
    def _init_(self, name, salary, department):
        self.name = name
        self.salary = salary
        self.department = department

    def update_salary(self, new_salary):
        self.salary = new_salary

    def _str_(self):
        return f"Name: {self.name}, Salary: {self.salary}, Department: {self.department}"
class EmployeeManagementSystem:
    def _init_(self):
        self.employees = []

    def add_employee(self, name, salary, department):
        employee = Employee(name, salary, department)
        self.employees.append(employee)

    def display_employees(self):
        if not self.employees:
            print("No employees found.")
        else:
            for employee in self.employees:
                print(employee)

    def update_salary(self, name, new_salary):
        for employee in self.employees:
            if employee.name == name:
                employee.update_salary(new_salary)
                print(f"Salary updated for {name}.")
                return
        print(f"Employee {name} not found.")

    def calculate_average_salary(self):
        if not self.employees:
            print("No employees to calculate average salary.")
            return 0
        total_salary = sum(employee.salary for employee in self.employees)
        average_salary = total_salary / len(self.employees)
        return average_salary
        #if _name_ == "_main_":

   # system.add_employee("Alice", 50000, "HR")
   # system.add_employee("Bob", 60000, "Engineering")
    #system.add_employee("Charlie", 55000, "Finance")

    #print("\n--- Employee Details ---")
   # system.display_employees()

    #print("\n--- Update Salary ---")
    #system.update_salary("Bob", 65000)
    #system.display_employees()
    #print("\n--- Average Salary ---")
    #avg_salary = system.calculate_average_salary()
    #print(f"Average Salary: {avg_salary}")

In [5]:
"kenan",5000,"devol"

('kenan', 5000, 'devol')

In [7]:
"fouaad",3000,"manager"

('fouaad', 3000, 'manager')

In [9]:
class Employee:
    def __init__(self, name, salary, department):
       self.name = name
       self.salary = salary
       self.department = department
    def __str__(self):
        return f"Name: {self.name}, Salary: {self.salary}, Department: {self.department}"
class Company:
   def __init__(self):
       self.employees = []
   def add_employee(self, name, salary, department):
       employee = Employee(fouaad,3000 , manager)
       self.employees.append(employee)
       print(f"Employee {name} added successfully.")
   def show_employees(self):
       if not self.employees:
           print("No employees available.")
       else:
           print("List of Employees:")
           for employee in self.employees:
               print(employee)
   def update_salary(self, name, new_salary):
       for employee in self.employees:
           if employee.name == name:
               employee.salary = new_salary
               print(f"Salary updated for {name}. New salary: {new_salary}")
               return
       print(f"Employee with name {name} not found.")
   def average_salary(self):
       if not self.employees:
           print("No employees available to calculate average salary.")
           return 0
       total_salary = sum(employee.salary for employee in self.employees)
       average = total_salary / len(self.employees)
       print(f"Average salary in the company: {average:.2f}")
       return average

In [13]:
class Student:
    def _init_(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def update_grade(self, new_grade):
        self.grade = new_grade

    def _str_(self):
        return f"Name: {self.name}, Age: {self.age}, Grade: {self.grade}"

class StudentManagementSystem:
    def _init_(self):
        self.students = []

    def add_student(self, name, age, grade):
        student = Student(name, age, grade)
        self.students.append(student)

    def display_students(self):
        if not self.students:
            print("No students found.")
        else:
            for student in self.students:
                print(student)

    def update_grade(self, name, new_grade):
        for student in self.students:
            if student.name == name:
                student.update_grade(new_grade)
                print(f"Grade updated for {name}.")
                return
        print(f"Student {name} not found.")

In [15]:
"fouaad",20,"A"

('fouaad', 20, 'A')

In [17]:
"Alaa",27,"B"

('Alaa', 27, 'B')

In [19]:
class Car:
    def _init_(self, make, model, year, speed=0):
        self.make = make
        self.model = model
        self.year = year
        self.speed = speed

    def accelerate(self, amount):
        self.speed += amount
        print(f"The car has accelerated by {amount} mph.")

    def brake(self, amount):
        self.speed -= amount
        if self.speed < 0:
            self.speed = 0
        print(f"The car has slowed down by {amount} mph.")

    def display_speed(self):
        print(f"The current speed of the car is {self.speed} mph.")

    def _str_(self):
        return f"Car: {self.make} {self.model} ({self.year})"

In [21]:
Car1="Mercedes","C class",2023,"300mph"
Car1

('Mercedes', 'C class', 2023, '300mph')

In [24]:
class Car:
    def __init__(self,make,model,year,speed):
        self.make = make
        self.model=model
        self.year = year
        self.speed = speed
        
    def __str__(self):
        return f"make: {self.make}, model: {self.model}, year: {self.year},speed: {self.speed}"
        
    def accelerate(self):
       amount = int(input('enter the speed'))
       self.speed = self.speed+amount
       print(f'the total speed is {self.speed}')
        
    def brake(self):
       amount = int(input('enter the speed')) 
       self.speed = self.speed - amount
       print(f'the total speed is {self.speed}')

In [26]:
Car1=Car("mercedes","C Class",2023,"300kmh")
print(Car1)

make: mercedes, model: C Class, year: 2023,speed: 300kmh

In [ ]:
Car1.accelerate()

In [33]:
class BankAccount:
    
    def __init__(self,holder,balance, account_number):
        self.holder = holder
        self.balance = balance
        self.account_number=account_number

    def add_geld(self):
        geld = int(input('bitte geld eingeben'))
        self.balance = self.balance+geld
        print(f'the new balance is {self.balance}')
        
    def nehm_geld(self):
        geld = int(input('bitte geld auszahlen'))
        if geld > self.balance:
            print('das geht leider nicht')
        else:
            self.balance = self.balance - ge
            print(f'the new balance is {self.balance}')
            
    def geld_transfer(self):
        
        geld_transfer = input('wohin soll das geld überwissen werden. bitte neu Bankverbindung eingeben')
        geld_sum = int(input('wie viel geld wollen sie überweisen'))
        if geld_sum > self.balance:
            print('das geht leider nicht')
        else:
            self.balance = self.balance - geld_sum
            print(f'das geld wurde erfolgerich überwissen. the new balance is {self.balance}')

In [35]:
BA=BankAccount('kenan',2000,'123564')
BA.add_geld()

bitte geld eingeben 3000

the new balance is 5000

In [37]:
BA.nehm_geld()

bitte geld auszahlen 2500

the new balance is 2500

In [39]:
BA.geld_transfer()

wohin soll das geld überwissen werden. bitte neu Bankverbindung eingeben Ammar Al Hmrawi
wie viel geld wollen sie überweisen 1000

das geld wurde erfolgerich überwissen. the new balance is 1500